.green {
  color: var(--green);
}

h1::before {
  background-color: var(--green);
}

.allnews-category {
  color: var(--green);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 0.25rem;
}

.allnews-title::before {
  z-index: 1;
  position: absolute;
  content: '';
  width: 105px;
  height: 4px;
  background-color: var(--green);
  bottom: -25px;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%);
}

.allnews-title {
  position: relative;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3.7rem;
}

.all-news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 35px;
  row-gap: 30px;
  margin-bottom: 80px;
}

.news-card .category {
  margin-top: 5px;
}

.news-card {
  display: flex;
  flex-direction: column;
}

.news-card img {
  width: 402px;
  height: 268px;
  border-radius: 0.5rem;
  object-fit: cover;
}
.news-card img:hover {
  opacity: 0.85;
}

.news-card-text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.allnews-btn {
  border-radius: 0.4375rem;
  border: 1px solid var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
  background: transparent;
  color: var(--green);
  font-family: Montserrat;
  font-size: 0.9375rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  padding: 0.75rem 3rem;
}

.allnews-btn:hover {
  color: var(--white);
  background: var(--green);
}

@media (max-width: 1440px) {
  .container {
    width: 70rem;
  }

  .img-big {
    width: 402px;
    height: 334px;
  }

  .all-news-container a {
    width: 100%;
    height: 100%;
  }

  .news-card {
    width: 100%;
    height: 100%;
  }

  .news-card .img-down {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 50rem;
  }

  .all-news-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .all-news-container a {
    width: 100%;
    height: 100%;
  }

  .news-headline {
    width: 100%;
  }

  .news-card {
    width: 100%;
    height: 100%;
  }

  .news-card .img-down {
    max-width: 100%;
    min-width: 100%;
    height: 250px;
  }
}

@media (max-width: 870px) {
  .container {
    width: 80%;
  }

  .img-big {
    width: 100%;
    height: 334px;
  }

  .all-news-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  .hero-principal-div {
    align-items: center;
  }

  .hero-principal-div a {
    width: 100%;
  }

  .img-big {
    width: 100%;
  }

  .img-down {
    width: 100%;
  }

  .all-news-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .news-card-text-container .news-headline {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .news-headline {
    width: 100%;
    max-width: 272px;
  }
}
